<script type="text/javascript">
    if(typeof angular === 'undefined'){
      document.location.href="/404";
    }
  </script>
  <div>
      <div class="content">
          <div class="dashboard-content-header">
            <div class="dashboard-title">Category</div>
            <div class="dashboard-comments">Comments</div>
            <div class="dashboard-posts">Posts</div>
            <div class="dashboard-latest">Latest activity</div>
          </div>
          <div class="dashboard-content">
            <div class="dashboard-content-post">
              <div class="dashboard-title">
                <span class="dashboard-title-header">
                  <a href="#">Programming</a>
                </span>
                <span class="dashboard-title-text">Description</span>
              </div>
              <div class="dashboard-comments">
                <span class="dashboard-comments-text">24</span>
              </div>
              <div class="dashboard-posts">
                <span class="dashboard-posts-text">126</span>
              </div>
              <div class="dashboard-latest">
                  <span class="dashboard-latest-text">
                      <span class="dashboard-latest-author">By <a href="#">Niels</a> in <a href="#">Pornhub and other nice sites!</a></span>
                      <br />
                      <span class="dashboard-latest-timestamp">At 15:14</span>
                  </span>
              </div>
            </div>
      
            <div class="dashboard-content-post">
                <div class="dashboard-title">
                  <span class="dashboard-title-header">
                    <a href="#">Computer</a>
                  </span>
                  <span class="dashboard-title-text">Description</span>
                </div>
                <div class="dashboard-comments">
                  <span class="dashboard-comments-text">24</span>
                </div>
                <div class="dashboard-posts">
                  <span class="dashboard-posts-text">222</span>
                </div>
                <div class="dashboard-latest">
                    <span class="dashboard-latest-author">By <a href="#">Niels</a> in <a href="#">Pornhub and other nice sites!</a></span>
                    <br />
                    <span class="dashboard-latest-timestamp">At 15:14</span>
                </div>
              </div>
      
              <div class="dashboard-content-post">
                  <div class="dashboard-title">
                    <span class="dashboard-title-header">
                      <a href="#">Software</a>
                    </span>
                    <span class="dashboard-title-text">Description</span>
                  </div>
                  <div class="dashboard-comments">
                    <span class="dashboard-comments-text">24</span>
                  </div>
                  <div class="dashboard-posts">
                    <span class="dashboard-posts-text">92</span>
                  </div>
                  <div class="dashboard-latest">
                      <span class="dashboard-latest-author">By <a href="#">Niels</a> in <a href="#">Pornhub and other nice sites!</a></span>
                      <br />
                      <span class="dashboard-latest-timestamp">At 15:14</span>
                  </div>
                </div>
      
                <div class="dashboard-content-post">
                    <div class="dashboard-title">
                      <span class="dashboard-title-header">
                        <a href="#">Porn</a>
                      </span>
                      <span class="dashboard-title-text">Description</span>
                    </div>
                    <div class="dashboard-comments">
                      <span class="dashboard-comments-text">24</span>
                    </div>
                    <div class="dashboard-posts">
                      <span class="dashboard-posts-text">23456</span>
                    </div>
                    <div class="dashboard-latest">
                        <span class="dashboard-latest-author">By <a href="#">Niels</a> in <a href="#">Pornhub and other nice sites!</a></span>
                        <br />
                        <span class="dashboard-latest-timestamp">At 15:14</span>
                    </div>
                </div>
          </div>
        </div>
  </div>