<script type="text/javascript">
  if(typeof angular === 'undefined'){
    document.location.href="/404";
  }
</script>
<div>
  <div class="content">
    <div class="dashboard-content-header">
      <div class="dashboard-title">Post</div>
      <div class="dashboard-comments">Comments</div>
      <div class="dashboard-author">Author</div>
      <div class="dashboard-freshness">Freshness</div>
    </div>
    <div class="dashboard-content">
      <div class="dashboard-content-post">
        <div class="dashboard-title">
          <span class="dashboard-title-header">
            <a href="#">How to program Java</a>
          </span>
          <span class="dashboard-title-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum iure rem a dicta quam eaque fugit quaerat temporibus, praesentium iusto unde accusamus. Veritatis dicta sunt fuga aliquid quod similique tenetur non debitis reiciendis temporibus, nesciunt eius aut in sit quis!
          </span>
        </div>
        <div class="dashboard-comments">
          <span class="dashboard-comments-text">24</span>
        </div>
        <div class="dashboard-author">
          <span class="dashboard-author-text">Anton</span>
        </div>
        <div class="dashboard-freshness">
          <span class="dashboard-freshness-text">3 hours ago</span>
        </div>
      </div>

      <div class="dashboard-content-post">
          <div class="dashboard-title">
            <span class="dashboard-title-header">
              <a href="#">How to program C#</a>
            </span>
            <span class="dashboard-title-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum iure rem a dicta quam eaque fugit quaerat temporibus, praesentium iusto unde accusamus. Veritatis dicta sunt fuga aliquid quod similique tenetur non debitis reiciendis temporibus, nesciunt eius aut in sit quis!
            </span>
          </div>
          <div class="dashboard-comments">
            <span class="dashboard-comments-text">24</span>
          </div>
          <div class="dashboard-author">
            <span class="dashboard-author-text">Anton</span>
          </div>
          <div class="dashboard-freshness">
            <span class="dashboard-freshness-text">3 hours ago</span>
          </div>
        </div>

        <div class="dashboard-content-post">
            <div class="dashboard-title">
              <span class="dashboard-title-header">
                <a href="#">The bad things about Featourous..</a>
              </span>
              <span class="dashboard-title-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum iure rem a dicta quam eaque fugit quaerat temporibus, praesentium iusto unde accusamus. Veritatis dicta sunt fuga aliquid quod similique tenetur non debitis reiciendis temporibus, nesciunt eius aut in sit quis!
              </span>
            </div>
            <div class="dashboard-comments">
              <span class="dashboard-comments-text">24</span>
            </div>
            <div class="dashboard-author">
              <span class="dashboard-author-text">Anton</span>
            </div>
            <div class="dashboard-freshness">
              <span class="dashboard-freshness-text">3 hours ago</span>
            </div>
          </div>

          <div class="dashboard-content-post">
              <div class="dashboard-title">
                <span class="dashboard-title-header">
                  <a href="#">How LOBO saves the Software Engineering industry</a>
                </span>
                <span class="dashboard-title-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum iure rem a dicta quam eaque fugit quaerat temporibus, praesentium iusto unde accusamus. Veritatis dicta sunt fuga aliquid quod similique tenetur non debitis reiciendis temporibus, nesciunt eius aut in sit quis!
                </span>
              </div>
              <div class="dashboard-comments">
                <span class="dashboard-comments-text">24</span>
              </div>
              <div class="dashboard-author">
                <span class="dashboard-author-text">Anton</span>
              </div>
              <div class="dashboard-freshness">
                <span class="dashboard-freshness-text">3 hours ago</span>
              </div>
          </div>
    </div>
  </div>
</div>