<script type="text/javascript">
  if(typeof angular === 'undefined'){
    document.location.href="/404";
  }
</script>

<div>
    <div class="title">
        THE FORUM
    </div>
    <form class="input">
        <input id="username" type="text" class="inputText" ng-model="username" placeholder="Username..."/><br><br><br>
        <input id="password" type="password" class="inputText" ng-model="password" placeholder="Password..."/><br><br><br>

        <button id="loginButton" type="button" class="button" ng-click="logIn()"><span>SIGN IN</span></button>
        <button id="createUser" type="button" class="button moveRight" ng-click="goToCreate()"><span>SIGN UP</span></button>
    <span class="message">
    	{{loginReturnMessage}}
    </span>
    </form>
</div>