<script type="text/javascript">
    if(typeof angular === 'undefined'){
      document.location.href="/404";
    }
</script>
<div>
    <div class="userdata-content">
        <div id="userdata-username">{{userDTO.username}}</div>
        <div id="userdata-creationdate">Member since {{userDTO.creationDate}}</div>

        <section id="userdata-user-activity">

            <div class="userdata-posts userdata-activity">
                <div class="userdata-posts-header">Posts by {{userDTO.username}}</div>
                <div class="userdata-posts-entry" ng-repeat="thread in threadsDTO">
                    <span class="userdata-posts-entry-title"><a href="threads/{{thread.id}}">{{thread.title}}</a></span><br />
                    <span class="userdata-posts-entry-threadinfo">{{thread.difference}} {{thread.notation}} ago &middot; 43 comments &middot; last activity 4 min ago</span>
                </div>
            </div>

            <div class="userdata-comments userdata-activity">
                <div class="userdata-comments-header">Comments by {{userDTO.username}}</div>
                <div class="userdata-comments-entry">
                    <span class="userdata-comments-entry-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui officiis eos quaerat odit id harum!..</span><br /><br />
                    <span class="userdata-comments-entry-info">In thread <a href="#">How to program F#</a></span>
                </div>
                <div class="userdata-comments-entry">
                    <span class="userdata-comments-entry-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui officiis eos quaerat odit id harum!..</span><br /><br />
                    <span class="userdata-comments-entry-info">In thread <a href="#">How to program C</a></span>
                </div>
                <div class="userdata-comments-entry">
                    <span class="userdata-comments-entry-comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui officiis eos quaerat odit id harum!..</span><br /><br />
                    <span class="userdata-comments-entry-info">In thread <a href="#">How to program ASP</a></span>
                </div>
            </div>
        </section>
    </div>
</div>